#!/bin/bash
RDSENDPOINT=$(/usr/local/bin/aws rds describe-db-instances --region us-east-1 | grep "govindrajdb-rds." | grep 'amazonaws' | awk '{print $2}' | sed 's/"//g')
docker run -p 8000:80 -e WORDPRESS_DB_HOST=$RDSENDPOINT:3306 -e WORDPRESS_DB_USER=root -e WORDPRESS_DB_PASSWORD=password -d wordpress
